
@{
    ViewData["Title"] = "OpenPdf";
}

<h2>OpenPdf</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Open File</title>
</head>
<body>
    <div>
    </div>
</body>
</html>